strict-peer-dependencies=false
engine-strict=true
auto-install-peers=true
dedupe-peer-dependents=true
use-lockfile-v6=true

# settings for workspace
# save-workspace-protocol=rolling
# resolve-peers-from-workspace-root=true
